.mpath {
  display: none;
  border: solid;
  border-width: 2px 4px 2px 4px;
  border-radius: 5px;
  margin-top: 15px;
  padding-top: 5px;
  font-family: sans-serif;
  padding-right: 5px;
  text-align: center;
}

.fpath {
  display: none;
  border: solid;
  border-width: 2px 4px 2px 4px;
  border-radius: 5px;
  margin-top: 15px;
  padding-top: 5px;
  text-align: center;
  font-family: sans-serif;
}

.bpath{
  display: none;
  border: solid;
  border-width: 2px 4px 2px 4px;
  border-radius: 5px;
  margin-top: 15px;
  padding-top: 5px;
  text-align: center;
  font-family: sans-serif;
}

.cpath {
  display: none;
  border: solid;
  border-width: 2px 4px 2px 4px;
  border-radius: 5px;
  margin-top: 15px;
  padding-top: 5px;
  text-align: center;
  font-family: sans-serif;
}

.dpath{
  display: none;
  border: solid;
  border-width: 2px 4px 2px 4px;
  border-radius: 5px;
  margin-top: 15px;
  padding-top: 5px;
  text-align: center;
  font-family: sans-serif;
}

.topbar {
  float: right;
}

.jumbotron {
  padding-top: 15px;
  padding-bottom: 15px
}

body{
  font-family: serif;
  background-color: #b6ebe9;
}

img {
  max-width: 500px;
  max-height: 400px;
  width: auto;
  height: auto;
  border: solid;
  border-radius: 8px;
  margin-top: 10px;
}

h5 {
  font-size: 18px;
}


.dpath img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
}

.cpath img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
}

.bpath img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
}

.fpath img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
}

.mpath img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
}
